<!DOCTYPE html>
<html>
<head>
<title>VentoProject</title>
</head>
<h1 align="center">Main Menu</h1>
<body>
  <a href="/tasks/list">View Records</a> 
  <a href="/tasks/add">Add user</a> 

</body>

</html>