<h1>  ADD USER  </h1>
<form method="POST" action="/a/create">
    ID: <input type="integer" name="id" ><br>
    NAME: <input type="text" name="name" ><br>
    DEPARTMENT ID: <input type="integer" name="dept_id"><br>
    <input type="submit" value="SUBMIT" class="btn btn-primary"><br>
</form>